@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}
:root{
  --color1: #F6F6FA;
  --color2: #FFF;
  --color3: #000;
}

.navbar{
  background-color: var(--color1)
}
.navitem{
  margin-left: 1.3em !important;
}
.auto-col-1{
  grid-auto-columns: 19%;
}
.auto-col-1::-webkit-scrollbar {
  display: none;
}
.css-jcn4dz-MuiBadge-badge{
  background-color: rgb(56, 56, 236)!important;
}
.navbar__links:hover{
  color: rgb(7, 7, 143);
}
.navbar__links{
  transition: all 0.3s;
}
.active{
  color: rgb(7, 7, 143);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  height: 4vh;
  background-color: rgb(207, 219, 230);
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #000;
  cursor: pointer;
  width: 8rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 0.4rem;
  background: rgb(49, 68, 241);
  cursor: pointer;
  pointer-events: none;
}
td{
  background-color: aliceblue;
}
.footer{
  background-color: rgb(18, 17, 39);
}