@tailwind base;
@tailwind components;
@tailwind utilities;

/* responsive */

@media screen and (max-width: 660px) {
    .navbar__menu{
        padding: 30px 0;
        position: absolute;
        top: -1000px;
        margin-left: 0;
        right: 0;
        background-color: var(--color1);
        flex-direction: column;
        width: 100%;
        transition: all .3s;
        z-index: 4;
    }
    .toggled{
        top: 60px;
    }
    .navitem{
        margin-right: 1.25em!important;
    }
    .navbar__menu li {
        margin: 8px 0;
        margin-left: 0;
    }
    .navbar__toggle{
        cursor: pointer;
    }
    .bar{
        width: 25px;
        height: 3px;
        background: black;
        margin-top: 5px;
        display: block;
    }
    .s-home,
    .psearch {
        width: 70%;
        transform: scale(0.9);
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }
    .intro-s{
        font-size: 1.1em;
        line-height: 1em;
    }
    .intro{
        overflow: hidden;
        height: 20vh;
        padding: 0 1%;
    }
    .intro div{
        width: 55%;
    }
    .intro img{
        width: 45%;
    }
    .cat{
        overflow-y: hidden;
    }
    .homegrid{
        width: 100%;
        height: 25vh;
        grid-auto-flow: column;
        grid-auto-columns: 190px;
        grid-template-columns: none;
        overflow-x: auto;
        overflow-y: hidden;
        margin-bottom: 10px;
    }
   
    /* .card{
        overflow: hidden;
    } */
    ::-webkit-scrollbar{
        width: 9px;
        height: 8px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(187, 187, 189);
        border-radius: 20px;
    }
    .trend{
        padding: 0 2%;
    }
    .trend div,
    .pro {
        grid-template-columns: repeat(2, 1fr)!important;
    }
    /* .cdiv{
        overflow-x: hidden;
    } */
    .cwish{
        font-size: 0.9em;
    }
    button[title='Add To Cart']{
        padding: 2px;
        font-size: small;
    }
    .cp{
        margin: 0 8px;
    }
    .table{
        width: 650px!important;
        overflow: auto;
    }
    .App{
        overflow: hidden;
    }
}
@media screen and (max-width: 400px) {
    .trend div, .pro {
        grid-template-columns: 1fr!important;
        padding: 6px 6%;
    }
    .cbtns{
        padding: 2px 8px;
    }
    select{
        width: 100px!important;
    }
}
@media screen and (max-width: 960px) {
    .s-filter{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 960px) {
   .filter{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
   }
}
@media screen and (max-width: 500px) {
   .cwish{
       width: 660px;
       overflow-x: auto;
   }
   .table{
       overflow-x: auto;
       width: 660px;
       width: 100%;
       display: flex;
   }
   table{
       height: 100%;
   }
}
.filter{
    color: rgb(7, 37, 94);
}
a{
    text-decoration: none!important;
    color: black !important;
}
.foot a{
    color: rgb(213, 226, 244)!important;
    margin-top: 20px;
}